{% extends 'start/header.html' %}
{% load static %}
{% block content %}

<body bgcolor="#76859B">

    <div class="md:grid px-0 pt-4 ml-8">
                <a href="/add_job">
        <button class="h-8 bg-gray-800 hover:bg-gray-900 text-white text-sm font-medium hover:text-white pr-12 pl-12 hover:border-transparent rounded">Добавить вакансию</button>
      </a>
        </div>
<div class=container style="position:relative">
    {% for job in jobs %}
    <div class="mx-auto mt-8 max-w-7xl py-0 px-3 sm:px-6 lg:px-8">
    <div class="flex flex-wrap items-center justify-between">
      <div class="flex w-0 flex-1 items-center">
        <p class="ml-3 truncate font-medium text-white">
            <a href="cerjob/{{ job.id }}">
            <button class="bg-white h-14 hover:bg-gray-800 text-gray-600 font-semibold hover:text-white py-2 px-36 hover:border-transparent rounded">{{ job.name }} {{ job.salary }}руб. От {{ job.expirence }}-х лет</button>
        </a>
        </p>
      </div>
    </div>
  </div>
{% endfor %}
    </div>
</body>


{% endblock %}
{% block title %}
Вакансии
{% endblock %}